#container {
  background-color: white;
  box-shadow: 1.5px 0px 20px 1px black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

  @media(min-width: 500px) {
    width: 80%;
    margin: auto;
  }

  #data-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 640px) {
      flex-direction: column;
    }

    .data-col {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      margin-left: 60px;
      border-right: black;

      @media (max-width: 640px) {
        margin: 4px;
        align-items: center;
      }
    }

    h1 {
      color: #6B7280;
      font-weight: 400;
      font-size: 12px;
      align-items: center;

      @media (max-width: 640px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    p {
      color: black;
      margin-top: 1px;
      margin-bottom: 1px;
      font-size: 21px;
      line-height: 32px;
      font-weight: 500;
      font-style: bold;
      align-items: center;

      @media (max-width: 640px) {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .separator {
    width: 1px;
    background-color: gray;
    border-radius: 8px;
  }
}