* {
  font-family:'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
}

.header {
  font-weight: 500;
  top: 10px;
  left: 50%;
}

.searchbar {
  margin-top: 20px;
  font-weight: 400;
}